.navbar {
	padding-top: 30px;
	display: flex;
	justify-content: end;

	li {
		position: relative;

		cursor: pointer;
	}

	li:hover::before {
		content: "";

		position: absolute;
		left: 0px;
		bottom: -7px;

		background-color: $main-color;

		height: 2px;

		animation: grow 0.4s ease-in-out forwards;
	}
}

@keyframes grow {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
