.button {
	border: 1px solid $main-color;
	border-radius: 25px;

	background: transparent;
	padding: 10px 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	color: $main-color;

	font-weight: 500;

	transition: all 0.2s linear;
	&:hover {
		background-color: $main-color;
		color: #fff;
	}
	&:active {
		transform: scale(0.98);
	}
}
