.posts {
  max-height: 600px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 50%, transparent 85%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 85%);

  z-index: 1;
}
.posts__gradient {
  right: -150px;
  top: 20%;
}
